# Ignore node_modules
node_modules/

# Ignore compiled CSS
quark-u.css

# Ignore any .log files
*.log

# Ignore Mac system files
.DS_Store

# Ignore Sass cache
.sass-cache/

# Ignore local env files if ever used
.env

# VS Code workspace settings
.vscode/
*.code-workspace

# Ignore package-lock.json
package-lock.json
# Ignore demo/
demo/